## Library specfic ignores

core/logs/*

!core/logs/.gitkeep

core/artifacts/*

!core/artifacts/.gitkeep

core/__pycache__/*

build/*

dist/*

pupillib.egg-info/*

*.json

.idea/*

## Github standard python ignores listed below

# Byte-compiled / optimized / DLL files
*/__pycache__/
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt